---
import Badge from "../components/badge.astro";
import Layout from "./Layout.astro";
import TableOfContentsHeading from "../components/tableOfContentsHeading.astro";
const { frontmatter, headings } = Astro.props;
const { tags, pubDate } = frontmatter;

const toc = buildToc(headings);

function buildToc(headings: any) {
  const toc = [] as any;
  const parentHeadings = new Map();
  headings.forEach((h: any) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    // Change 2 to 1 if your markdown includes your <h1>
    if (heading.depth === 1) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  });
  return toc;
}

import "remark-github-blockquote-alert/alert.css";
import GoBack from "../components/goBack.astro";
import Footer from "../components/footer.astro";
---

<Layout title={`${frontmatter.title} | renzofbn`}>
  <div class="tracker"></div>
  <div class="flex justify-center">
    <div
      class="container max-w-4xl text-left px-6 md:px-24 mt-6 lg:mt-10 2xl:mt-16"
    >
      <GoBack url="/posts" />
      <div class="md:px-8">
        <div class="mb-6">
          <div class="mt-8 md:mt-12">
            <span class="text-xs md:text-sm text-gray-400">
              {
                new Date(pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })
              }
            </span>
            <h1
              class="text-3xl font-extrabold text-white duration-150 first:pl-0 last:pr-0 drop-shadow-[0px_0px_10px_#666666]"
            >
              {frontmatter.title}
            </h1>
          </div>

          <p class="text-sm md:text-base text-gray-400">
            {frontmatter.description}
          </p>
        </div>
        <div class="flex items-center gap-2 border-b-2 border-neutral-800 pb-4">
          {
            tags.map((tag: string) => (
              <Badge>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-3 h-3"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#e07d48"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-hash"
                >
                  <>
                    <line x1="4" x2="20" y1="9" y2="9" />
                    <line x1="4" x2="20" y1="15" y2="15" />
                    <line x1="10" x2="8" y1="3" y2="21" />
                    <line x1="16" x2="14" y1="3" y2="21" />
                  </>
                </svg>
                {tag}
              </Badge>
            ))
          }
        </div>
        <article class="md-post">
          <nav class="toc border-b-2 border-neutral-800 py-6 mb-12">
            <span class="font-medium">Table of Contents:</span>
            <ol
              class="mt-5 mb-3 list-decimal list-inside leading-7 marker:text-[#A3A3A3] marker:font-medium px-2 text-white"
            >
              {
                toc.map((heading: any) => (
                  <TableOfContentsHeading heading={heading} />
                ))
              }
            </ol>
          </nav>
          <slot />
          <button
            id="scrollToTop"
            class="fixed bottom-6 right-6 z-50 rounded-full shadow-lg transition-opacity duration-300 opacity-100 bg-[#121313] p-4 md:hover:opacity-20 hidden"
            onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-up"
              ><path d="m5 12 7-7 7 7"></path><path d="M12 19V5"></path></svg
            >
          </button>
        </article>
        <Footer />
      </div>
    </div>

    <script>
      import "../CopyCodeButton/copy-code-button.js";
      import "../CopyCodeButton/create-copy-buttons.js";
    </script>

    <script>
      function setupScrollToTop() {
        const scrollToTopBtn = document.getElementById("scrollToTop");

        if (!scrollToTopBtn) return;

        window.addEventListener("scroll", function () {
          if (window.scrollY > 300) {
            scrollToTopBtn.classList.remove("hidden", "opacity-0");
            scrollToTopBtn.classList.add("opacity-100");
          } else {
            scrollToTopBtn.classList.add("hidden", "opacity-0");
            scrollToTopBtn.classList.remove("opacity-100");
          }
        });
      }

      document.addEventListener("astro:page-load", setupScrollToTop);
      document.addEventListener("astro:after-swap", setupScrollToTop);
    </script>

    <style is:global>
      .md-post h1 {
        font-size: 24px;
        margin-top: 2rem;
        margin-bottom: 24px;
        font-weight: 600;
        color: white;
      }

      .md-post h2 {
        font-size: 1.25rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: 600;
      }

      .md-post p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
        color: #d4d4d4;
        line-height: 28px;
        text-wrap: pretty;
      }

      .md-post p strong {
        font-weight: 700;
        color: #e07d48;
      }

      .md-post pre {
        padding: 1rem;
        border-radius: 0.75rem;
        overflow-x: auto;
        font-size: 15px;
        margin-bottom: 22px;
        overflow: auto;
        position: relative;
      }

      .md-post pre code span {
        font-family: "Geist Mono", system-ui, sans-serif;
        font-weight: 500;
      }

      .md-post pre copy-code-button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }

      .md-post p code {
        font-family: "Geist Mono", system-ui, sans-serif;
        background-color: rgba(38, 38, 38, 0.5);
        border: 1px solid rgb(38, 38, 38);
        border-radius: 4px;
        color: white;
        display: inline;
        font-size: 14px;
        font-weight: 600;
        line-height: 24.5px;
        padding: 2px;
        text-wrap: pretty;
      }

      @media (max-width: 768px) {
        .md-post pre {
          font-size: 13px;
        }
      }
    </style>
  </div>
</Layout>
